.recent-post {
    .recent-post__title a {
        color: $color-gray-one;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.post-topic {
    color: $color-gray-two;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-right: 8px;
}